.time-wrapper {
    margin-top: 25px;
}

.time-wrapper ul{
    display: table;
    padding: 0px;
}

.time-wrapper label {
    position: absolute;
    top: -27px;
    padding: 5px 1px;
    color:#5a5e66;
    font-weight: 400;
    border-bottom: solid 1px#e6ebf5;
    font-size: 12px;
}

.time-separator {
    margin-left: 5px;
}

.time-wrapper li{
    display: table-cell;
    position: relative;
}

.hour-wrapper{
    padding-left: 20px;
}

.minute-wrapper{
    padding-left: 10px;
}